<link href='https://fonts.googleapis.com/css?family=Kaisei Decol' rel='stylesheet'>
<div class="my-3 mx-3">
  <h1 style="font-family: 'Kaisei Decol'">Vivero el otoño</h1>
</div>
<hr>

<div class="container-fluid m-0 p-0">
  <div>
      <img src="baner.png" alt="header-img" class="img-fluid">
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col" class="h4">#</th>
          <th scope="col" class="h4">Nombre común</th>
          <th scope="col" class="h4">Tipo</th>
          <th scope="col" class="h4">Clima</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of plantas" scope="row">
        <td>
          <dd><b>{{p.id}}</b></dd>
        </td>
        <td>
          <dd>{{p.nombre_comun}}</dd>
        </td>
        <td>
          <dd>{{p.tipo}}</dd>
        </td>
        <td>
          <dd>{{p.clima}}</dd>
        </td>
      </tr>
      
      </tbody>
    </table>
  </div>
</div>
<div class="my-3 mx-3">
  <p>Total plantas de interior: {{totalPInterior}}</p>
  <p>Total plantas de exterior: {{totalPExterior}}</p>
</div>
<footer class="py-3 my-4">
  <p class="text-center "><b>Contact us: +57 3102105253 - info&#64;viveroelotonio.com - &#64;viveroelotonio</b></p>
</footer>