<h3>Vivero el otoño</h3>
<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col" class="h4">#</th>
          <th scope="col" class="h4">Nombre comun</th>
          <th scope="col" class="h4">Tipo</th>
          <th scope="col" class="h4">Clima</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of plantas" scope="row">
        <td>
          <dd><b>{{p.id}}</b></dd>
        </td>
        <td>
          <dd>{{p.nombre_comun}}</dd>
        </td>
        <td>
          <dd>{{p.tipo}}</dd>
        </td>
        <td>
          <dd>{{p.clima}}</dd>
        </td>
      </tr>
      
      </tbody>
    </table>
  </div>
</div>
